@model IEnumerable<lab_3.Models.Employee>

<h2>Список сотрудников</h2>

<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.MiddleName</td>
                <td>@employee.Email</td>
            </tr>
        }
    </tbody>
</table>
