@model lab_3.Models.Task

<h1>Удалить задачу</h1>

<h3>Вы уверены, что хотите удалить задачу "@Model.Title"?</h3>

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Удалить</button>
</form>

<a href="@Url.Action("Index", "Tasks")" class="btn btn-secondary">Назад</a>
